body{
font-family: 'Segoe UI', sans-serif;
}

#drop-area{
transition:0.3s;
}

.upload-box{
position:relative;
overflow:hidden;
}

/* tia scan */
.scan-line{
position:absolute;
left:0;
width:100%;
height:4px;

background:linear-gradient(
90deg,
transparent,
#22c55e,
#4ade80,
#22c55e,
transparent
);

box-shadow:
0 0 10px #22c55e,
0 0 20px #22c55e,
0 0 30px #22c55e;

animation:scanMove 2s linear infinite;
}

/* ánh sáng quét */
.scan-line::before{
content:"";
position:absolute;
top:-20px;
left:0;
width:100%;
height:40px;

background:linear-gradient(
to bottom,
transparent,
rgba(34,197,94,0.2),
transparent
);
}

/* animation chạy */
@keyframes scanMove{

0%{
top:-10%;
}

100%{
top:110%;
}

}

.logo-ai{
position:relative;
display:inline-block;
animation: glow 2s ease-in-out infinite alternate;
}

/* hơi nước */
.logo-ai::after{
content:"~~~";
position:absolute;
top:-10px;
left:18px;
font-size:12px;
color:#22c55e;
animation: steam 2s infinite;
}

/* ánh sáng quét */
.logo-ai::before{
content:"";
position:absolute;
top:0;
left:-100%;
width:100%;
height:100%;
background:linear-gradient(
90deg,
transparent,
rgba(255,255,255,0.7),
transparent
);
animation: scan 3s infinite;
}

/* glow */
@keyframes glow{
0%{
text-shadow:0 0 5px #22c55e;
}
100%{
text-shadow:
0 0 10px #22c55e,
0 0 20px #4ade80;
}
}

/* steam */
@keyframes steam{
0%{
opacity:0;
transform:translateY(0);
}
50%{
opacity:1;
}
100%{
opacity:0;
transform:translateY(-10px);
}
}

/* scan */
@keyframes scan{
0%{
left:-100%;
}
100%{
left:100%;
}
}

.ai-btn{
position:relative;
overflow:hidden;
color:white;
font-weight:600;
transition:0.3s;

/* glow */
box-shadow:0 0 15px rgba(34,197,94,0.6);
}

/* hover */
.ai-btn:hover{
transform:translateY(-3px) scale(1.03);
box-shadow:0 6px 30px rgba(34,197,94,0.8);
}

/* ánh sáng chạy */
.ai-btn::before{
content:"";
position:absolute;
top:0;
left:-120%;
width:60%;
height:100%;

background:linear-gradient(
120deg,
transparent,
rgba(255,255,255,0.8),
transparent
);

transform:skewX(-25deg);

animation:shineMove 2.5s infinite;
}

@keyframes shineMove{
0%{
left:-120%;
}
100%{
left:120%;
}
}

/* chữ đổi màu */
.ai-text{
background:linear-gradient(
90deg,
#ffffff,
#bbf7d0,
#f7bbcc,
#f7f7bb,
#bbcdf7,
#22c55e,
#f7f2bb
);

background-size:200%;

-webkit-background-clip:text;
color:transparent;

animation:textMove 3s linear infinite;
}

@keyframes textMove{
0%{
background-position:0%;
}
100%{
background-position:200%;
}
}

.spin{
display:inline-block;
animation:spin 1s linear infinite;
}

@keyframes spin{
0%{
transform:rotate(0deg);
}
100%{
transform:rotate(360deg);
}
}